x=("Prajakta","Akshay","Jadhav")
print(type(x))
print(x[1])
#print(x[3]) error
print(x[1][2])

In [6]:
while 1:
    print("Hello")

In [7]:
#factorial program using for loop

num=int(input("Enter Number :"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter Number :5
120

In [9]:
#factorial program using while loop

num=int(input("Enter Number :"))
fact=1
i=1
while i<num+1:
    fact=fact*i
    i=i+1
print(fact)

Enter Number :5
120

In [11]:
#find sum of n natural number using for loop

num=int(input("Enter Number :"))
sum=0
for i in range(1,num+1):
    sum=sum+i
print(sum)

Enter Number :10
55

In [13]:
# fin sum of n natural number using while loop

num=int(input("Enter Number :"))
sum=0
i=1
while i<=num:
    sum=sum+i
    i+=1
print(sum)

Enter Number :10
55

In [3]:
n=int(input("Enter Number"))
if n%2!=0:
    print("Weird")
elif range(2,6) and n%2==0:
    print("Not Weird")
elif range(6,21)and n%2==0:
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")
else:
    print("Enter valid number")

Enter Number8
Not Weird

In [5]:
for i in range(1,10):
    if i==4: #skip 4 value
        continue
    print(i)

1
2
3
5
6
7
8
9

In [6]:
for i in range(1,10):
    if i==4: #stop loop
        break
    print(i)

1
2
3

# Function

In [2]:
def calculator(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    return add,sub,mul

x=calculator(10,20)
print(x)

(30, -10, 200)

In [ ]:
#find ascii value

In [4]:
s=input("Enter String:")
for i in s:
    print(ord(i), end="")

Enter String:Prajakta
80114971069710711697

In [9]:
def value(s):
    for i in s:
        print(ord(i), end=" ")
    return ""
s=input("Enter String :")
print(value(s))

Enter String :hello
104 101 108 108 111

# File Handeling

In [4]:
f=open("Examdata.txt","w")
f.write("Hello\n")
f.write("Prajakta\n")
l=["Akshay\n","Dhumal"]
f.writelines(l)
print("Please Check File...")
f.close()

Please Check File...

In [19]:
f=open("Examdata.txt","r")
#print(f.read()) read all data from file

print(f.read(3)) 
print(f.readline())
print(f.readlines())
f.close()

Hel
lo

['Prajakta\n', 'Akshay\n', 'Dhumal']

In [ ]:
Note==> \n is consider as single character
space is also consider

In [3]:
s='hello'
c=0
for i in s:
    if(i!='l'):
        c=c+1
print(c)

3

In [4]:
s='jhon'
for i in s:
    if i=='o':
        pass
    print(i)

j
h
o
n

In [5]:
for j in range(-2,-5,-1):
    print(j,end="")

-2-3-4

In [6]:
x=0
while(x<100):
    x=x+2
print(x)

100

In [7]:
s=7
if s>5:
    print("w")
if s>8:
    print('q')

w

In [8]:
var=10
for i in range(10):
    for j in range(2,10,1):
        if var%2==0:
            continue
            var+=1
    var+=1
else:
    var+=1
    print(var)

21

In [9]:
for num in range(10,14):
    for i in range(2,num):
        if num%i==1:
            print(num)
            break

10
11
12
13

In [11]:
def swap_case(s):
    return s[::-1]
swap_case("Python")

'nohtyP'

In [6]:
def f1():
    x=100
    print(x)
x=+1
f1()

100

In [13]:
def f1():
    global x
    x=+1
    print(x)
x=12
print("x")

x

In [14]:
def f1(a,b=[]):
    b.append(a)
    return b
print(f1(2,[3,4]))

[3, 4, 2]

In [24]:
def f1(p,q,r):
    global s
    p=10
    q=20
    r=30
    s=40
    print(p,q,r,s)
p,q,r,s=1,2,3,4
f1(5,10,25)

10 20 30 40

In [19]:
def f(x):
    print("outer")
    def f2(a):
        print("inner")
        print(a,x)
f(3)
f2(1)

outer

NameError: name 'f2' is not defined

In [22]:
def even_odd(**check):
    if check['iseven']%2==0:
        print('even')
    else:
        print('Odd')
even_odd(iseven=3)

Odd

In [2]:
fun=lambda x: x+2
print(fun(2))

4

In [7]:
num=[1,2,3]
a=list(filter(lambda x:2,num)) #boolean value of "2" is true so ans is true and return original list
a

[1, 2, 3]

In [8]:
add_one=lambda x: x+1
print(add_one(7))

8

In [10]:
l=["beach","car"]
field=list(map(lambda l:f"{l} is fun",l))
print(field)

['beach is fun', 'car is fun']

In [5]:
def fibonacci(num):
    # return a list of fibonacci
    a=0
    b=1
    print(a)
    print(b)
    sum=0
    for i in range(2,num):
        if num==1:
            print(a)
        else:
            sum=a+b
            a=b
            b=sum
            print(sum)
    return ""
print(fibonacci(5))

0
1
1
2
3

In [38]:
num= int(input("Enter the number for fibonacci sequence: "))
a=0
b=1
print(a)
print(b)
sum=0

for i in range (1,num+1):
    if num==1:
        print(a)
    else:
        sum=a+b
        a=b
        b=sum
        print(sum)

Enter the number for fibonacci sequence: 5
0
1
1
2
3
5
8

In [43]:
l=[0,1]
n=5
for i in range (2,n):
    if n==1:
        print(l)
    else:
        l.append(l[i-1]+l[i-2])
print(l)

[0, 1, 1, 2, 3]

In [3]:
list1=[int(i) for i in input().split()]
print(list1)

10 20 30 40
[10, 20, 30, 40]

In [4]:
l1=[i for i in range(1,11)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
l1=[i for i in range(1,11) if i%2==0]
print(l1)

[2, 4, 6, 8, 10]

In [8]:
my_string="Prajakta"
k=[print(i) for i in my_string if i not in "aeiou"]
#print(k)

P
r
j
k
t

In [10]:
my_string="hello world"
k=[(i.upper(),len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [15]:
x=[i**+1 for i in range(3)];print(x);

[0, 1, 2]

In [17]:
print([i.lower() for i in "hello"])

['h', 'e', 'l', 'l', 'o']

In [19]:
l1=[1,2,3]
l2=[4,5,6]
([x*y for x in l1 for y in l2])

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [20]:
l=[1,2,-2,-4,-5,0]
l1=[x for x in l if x<0]
print(l1)

[-2, -4, -5]

In [21]:
s=["pune","mumbai","delhi"]
print([(w.upper(),len(w)) for w in s])

[('PUNE', 4), ('MUMBAI', 6), ('DELHI', 5)]

In [24]:
1/3

0.3333333333333333

In [26]:
print([if i%2==0: i; else:i+1; for i in range(4)])

SyntaxError: invalid syntax (830627145.py, line 1)

In [33]:
f=open("abc.txt","w")
list=["p","r","j"]
f.writelines(list)
print("data added")
f.close()

data added

In [39]:
l=[1,2,3,"Hello"]
#l.append(5)
#l.insert(3,5)
l.remove("Hello")
print(l)

[1, 2, 3]

In [41]:
l=["Hello","p"]
if "hello" in l:
    print(1)
else:
    print(2)

1

In [44]:
l=[1,2,3]
print(l*2)

[1, 2, 3, 1, 2, 3]

In [49]:
e="helloe"
e.rfind("e")

5

In [50]:
print("hello"+1+2)

TypeError: can only concatenate str (not "int") to str

In [1]:
class demo:
    def __init__(self):
        pass
    def test(self):
        print(__name__)
obj=demo()
obj.test()

__main__

In [6]:
class A:
    def __init__(self,b):
        self.b=b
    def display(self):
        print(self.b)
obj=A("Hello")
del obj

In [8]:
class animal:
    def __init__(self,name):
        print("Animal",end="")
        self.name=name
class Dog(animal):
    def __init__(self,name,age):
        print("Dog",end="")
        super().__init__(name)
        self.age=age
yk=Dog("ABN",24)

DogAnimal

In [6]:
class test:
    def __init__(self,a):
        self.a=a
    def display(self):
        print(self.a)
obj=test(20)
obj.display()

20

In [10]:
class fruits:
    def __init__(self,price):
        self.price=price
obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [11]:
class A:
    def __init_(self):
        return "1"
obj=A()

In [2]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a)

{2: 1, 1: [2, 3, 4]}

In [3]:
a={"B":3,"A":5,"C":2}
sorted(a)

['A', 'B', 'C']

In [4]:
b={}
all(b)

True

In [10]:
b={"A":2,"b":1}
any(b)

True

In [3]:
class abc:
    def study(self):
        print("BSC")
class child(abc):
    def study(self):
        super().study()
        print("MCS")
        
x=child()
x.study()

BSC
MCS

In [6]:
# constructor overriding

class abc:
    def __init__(self):
        print("Parent class Constructor")
class child(abc):
    def __init__(self):
        super().__init__()
        print("Child Class Constructor")
        
x=child()

Parent class Constructor
Child Class Constructor

##### ========================================================================================================================

In [3]:
x = "10.5"
y= float(x)
print(type(y))

<class 'float'>

In [4]:
x= "abs"
y = int(x)
print(type(y))

ValueError: invalid literal for int() with base 10: 'abs'

In [6]:
x= "10"
y = float(x)
print(type(y))
print(y)

<class 'float'>
10.0

In [7]:
x= 10.5
y = complex(x)
print(type(y))
print(y)

<class 'complex'>
(10.5+0j)

In [8]:
x= 20
y = complex(x)
print(type(y))
print(y)

<class 'complex'>
(20+0j)

In [ ]:
# Python Program to count the number of digit in a Number

sample input: 123
output: 3

In [9]:
x = input("Enter Your Number :")
y = str(x)
print(len(y))

Enter Your Number :1234
4

In [11]:
x= int(input("Enter Your Number"))
count =0
while x!=0:
    x=x//10
    count=count+1
print(count)

Enter Your Number6789543
7

### Amstrong number or not

In [12]:
153%10    # % is used for extract the last digit

3

In [13]:
153//10   #// is used to delete/remove last digit

15

In [18]:
num= int(input("Enter Your Number :"))
sum=0
m =num
while num!=0:
    rem = num%10 
    print("Remainder value :",rem)
    sum = sum+ (rem**3)
    print("Sum",sum)
    print("Number",num)
    num = num//10
print(num)
print("Original Number is :",m)

if m==sum:
    print("Number is Amstrong Number :")
else:
    print("Not Amstrong")

Enter Your Number :153
Remainder value : 3
Sum 27
Number 153
Remainder value : 5
Sum 152
Number 15
Remainder value : 1
Sum 153
Number 1
0
Original Number is : 153
Number is Amstrong Number :

### product of digit

In [22]:
num= int(input("Enter Your Number :"))
prod=1
while num!=0:
    rem = num%10
    prod = prod*rem
    num = num//10
print(prod)

Enter Your Number :8765
1680

### Sum of Digit

In [24]:
num = int(input("Enter Number :"))
sum=0
while num!=0:
    rem = num%10
    sum = sum + rem
    num = num//10
print(sum)

Enter Number :345
12

### sum of square of first n natural number

In [34]:
num = int(input("Enter Number :"))
sum =0
for i in range(num+1):
    sum = sum+ i**2
print(sum)

Enter Number :10
385

### sum of cube of first n natural number

In [33]:
num = int(input("Enter Number :"))
sum =0
for i in range(num+1):
    sum = sum+ i**3
print(sum)

Enter Number :5
225

### Sum of odd and even number between range 12 and 37

In [35]:
sum_even =0
sum_odd =0
for i in range (12,38):
    if i%2==0:
        sum_even = sum_even +i
    else:
        sum_odd = sum_odd+i

### Write a prog which are divisible by 11 but not by 2 between 100 and 500

In [37]:
for i in range(100,501):
    if i%11==0 and i%2!=0:
        print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [ ]:
### write a program bet 10 to 20 but not divisible by 2 and 3

In [39]:
for i in range (1,21):
    if i%2!=0 and i%3!=0:
        print(i)

1
5
7
11
13
17
19

In [ ]:
## ascii value

In [4]:
def ascii(c):
    for i in c:
        print(ord(i), end =" ")
    return ""
c1 = input("Enter Your String :")
print(ascii(c1))

Enter Your String :Hello
72 101 108 108 111

In [6]:
l =[]
def ascii(c):
    for i in c:
        l.append(ord(i))
    return l
c1 = input("Enter Your String :")
print(ascii(c1))

Enter Your String :Prajakta
[80, 114, 97, 106, 97, 107, 116, 97]

In [ ]:
### check given number is odd or even

In [11]:
def odd_even(num):
    if num%2==0:
        return "Number is Even Number"
    else :
        return "Number is odd Number "
num = int(input("Enter Number :"))
print(odd_even(num))

Enter Number :25
Number is odd Number

In [ ]:
### Check given number is prime or not

In [8]:
def prime(n):
    if n ==1:
        return "1 is neighther prime nor Composite"
    elif n>1:
        if n%2==0:
            return "It is not Prime Number"
        else :
            return "It is Prime Number"
        
    else:
        return "It is not Prime Number"
n = int(input("Enter Number :"))
print(prime(n))

Enter Number :7
It is Prime Number

### Python Program to find the addition of two Numbers with and Without Lambda Function

In [1]:
def sum(a,b):
    return a+b
print(sum(10,20))

30

In [2]:
y= lambda x,y : x+y
print(y(10,20))

30

### Python Program to find the maximum of two Numbers with and Without Lambda Function

In [3]:
def max(x,y):
    if x > y:
        return "First number is maximum number"
    else:
        return "Second is maximum number"
x = int(input("Enter Your First Number"))
y = int(input("Enter Your Second Number"))
print(max(x,y))

Enter Your First Number10
Enter Your Second Number20
Second is maximum number

In [4]:
result = lambda a,b : "first number is maximum" if a>b else "Second is maximum"
a= int(input("Enter First Number :"))
b = int(input("Enter Second Number :"))
print(result(a,b))

Enter First Number :20
Enter Second Number :10
first number is maximum

### Python Program to Check weather a Given Number is Even or Odd with lambda Function

In [5]:
result = lambda x: "Number is even number" if x%2==0 else "Number is odd number"
x = int(input("Enter Your Number :"))
print(result(x))

Enter Your Number :23
Number is odd number

### filter ()

In [10]:
def odd_even(x):
    if x%2==0:
        return True
l =[11,12,13,14,15,16,17,18,19,20]
l1 = list(filter(odd_even,l))
print(l1)

[12, 14, 16, 18, 20]

In [9]:
l=[11,12,13,14,15,16,17,18,19,20]
l1 = list(filter(lambda x: x%2==0,l))
print(l1)

[12, 14, 16, 18, 20]

### Filter the Number from 1 to 500 which are divisible by 7

In [11]:
l1 = list(filter(lambda x: x%7==0, range(1,500)))
print(l1)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497]

In [2]:
import re
matcher = re.finditer('[a-z]','Prajakta')
for i in matcher:
    print(i)

<re.Match object; span=(1, 2), match='r'>
<re.Match object; span=(2, 3), match='a'>
<re.Match object; span=(3, 4), match='j'>
<re.Match object; span=(4, 5), match='a'>
<re.Match object; span=(5, 6), match='k'>
<re.Match object; span=(6, 7), match='t'>
<re.Match object; span=(7, 8), match='a'>

In [4]:
try:
    a= int(input("Enter Number"))
    b= int(input("Enter Number "))
    print(a/b)
except:
    print("Number not divisible by zero")

Enter Number10
Enter Number 0
Number not divisible by zero

In [6]:
# try with multiple except block

try:
    a= int(input("Enter first number :"))
    b = int(input("Enter second number :"))
    print(a/b)
    
except ValueError:
    print("Please enter integer number")
    
except ZeroDivisionError:
    print("Not divisible by zero")

Enter first number :10
Enter second number :0
Not divisible by zero

In [9]:
try:
    print("Inside Try")
    print(10/0)
except ValueError:
    print("Except")
except:
    print("Except Block")
finally:
    print("Finally")

Inside Try
Except Block
Finally

In [10]:
try:
    print("Inside Try")
    print(10/0)
    
except ValueError:
    print("Except")
except:
    print("Except Block")
finally:
    print("Finally")

Inside Try
Except Block
Finally

In [14]:
def right_rotate(L):
    L=L[-1:-2:-1]+L[:len(L)-1]
    return L
L=[1,2,3,4,5]
print("List is :",L)

print("List After Right Rotation :",right_rotate(L))

List is : [1, 2, 3, 4, 5]
List After Right Rotation : [5, 1, 2, 3, 4]

### right rotate by d unit
input L=[1,2,3,4,5,6,7]
output = [6,7,1,2,3,4,5]

In [18]:
def right_rotatebyd(L):
    L=L[len(L)-d:] + L[:len(L)-d]
    return L
L = [1,2,3,4,5,6,7]
d= 2
print("List is :",L)
print("After right rotation :",right_rotatebyd(L))

List is : [1, 2, 3, 4, 5, 6, 7]
After right rotation : [6, 7, 1, 2, 3, 4, 5]