In [ ]:
check character is vowel or not

In [1]:
string1 = input("Enter the caracter :")
if string1 in ["a","e","i","o","u","A","E","I","O","U"]:
    print("vowel")
else:
    print("not vowel")

Enter the caracter :K
not vowel

In [ ]:
write a program which number is divisible by 11 but not by 2 from range 100 to 500

In [18]:
for i in range(100,501):
    if i%11==0:
        if i%2!=0:
            print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [ ]:
Write a program to print table of any number

In [22]:
num = int(input("Enter number :"))
for i in range(1,11):
    print(num*i)

Enter number :4
4
8
12
16
20
24
28
32
36
40

In [ ]:
Write program
accept city from user and display monument of that city
City Monument
Delhi read fort
Agra Taj Mahal
Jaipur Jal Mahal

In [24]:
city = input("Enter City Name :")
if city=="Delhi":
    print("Read Fort")
elif city=="Agra":
    print("Taj Mahal")
elif city=="Jaipur":
    print("Jal mahal")

Enter City Name :Jaipur
Jal mahal

In [ ]:
Write a program to separe citizen by age

In [30]:
age = int(input("Enter Person's Age :"))
if age>=60:
    print("Senoiur citizen")
elif age>18 and age<60:
    print("Teeage")
elif age<18:
    print("Young age")

Enter Person's Age :26
Teeage

In [ ]:
Fibonic series
1,2,3,5,8,13,21,34

In [6]:
def fibono(num):
    sum=0
    a=0
    b=1
    #print(a)
    #print(b)
    for i in range(1,num+1):
        if num==1:
            print(b)
        else:
            sum=a+b
            a=b
            b=sum
            print(sum)
    return ""
num=int(input("Enter fibono series number"))
print(fibono(num))

Enter fibono series number8
1
2
3
5
8
13
21
34

In [8]:
n=int(input("Enter Number"))
for i in range (2,5):
    if n%2==0:
        print("Not Weird")
    else:
        print("Weird")

Enter Number45
Weird
Weird
Weird

In [9]:
a=4
b=3
print(a//b)
print(a/b)

1
1.3333333333333333

In [10]:
num=int(input("Enter number"))
i=0
for i in range (1,20):
    print(i,"\n")

Enter number456
1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19